language: python
sudo: false
python:
- '3.6'
install:
- wget https://repo.anaconda.com/miniconda/Miniconda3-4.5.4-Linux-x86_64.sh -O miniconda.sh
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda info -a
- conda create --file travis-environment.yml
- source activate testenv
- pip install .
script: py.test
notifications:
  slack: context-lab:Ai78gYTph7bTYPlsWjvRzBku
