nose
sphinx
duecredit
numpy==1.16.2
pandas==0.24.2
git+https://github.com/ContextLab/hypertools@36c12fd6d1706fb75e596a62b555ee819ddada6a#egg=hypertools
scipy>=1.2.1
matplotlib==3.0.3
seaborn==0.9.0
scikit-learn==0.19.2
git+https://github.com/FIU-Neuro/brainconn#egg=brainconn