@import url("../magazine-basic/style.css");body{word-wrap:break-word;color:#000000;}#secondsidebar .side-widget{width:300px;word-wrap:break-word;}.red,.entry a{color:#205B87;}blockquote{font-style:normal;}pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}// .side-widget {
//#sidebar {
//
.side-widget ul li {
 word-wrap: break-word; // this doesn't seem to work - I copied it manually...
}




// for wptouch:
#switch {
margin: auto;
position: absolute;
bottom: 13px;
right: 4px;
}


